:root {
  --transitionLengthOn: 1s;
  --transitionLengthOff: 0.75s;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.skills {
  text-transform: capitalize;
  font-size: 1.4rem;
}

.links>a {
  transition: var(--transitionLengthOff);
  font-size: 2rem;
  text-decoration: none;
}
.links>a:hover {
  transition: var(--transitionLengthOn);
  color: black;
}